p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0); /* Texte en blanc */
    text-align: center; /* Centrer le texte */
    padding: 20px 0; /* Espacement en haut et en bas */
    bottom: 0; /* Coller en bas */
    width: 100%; /* Occuper toute la largeur */
    font-size: 14px; /* Taille de police modeste */
  }