<form #clientForm = "ngForm" (ngSubmit)="onSubmit()">
  <label>Prénom :</label>
  <input id="prenom" type="text">

  <label>Numéro de téléphone :</label>
  <input id="telephone" type="tel">

  <label>Adresse :</label>
  <input id="adresse" type="text">
  
  <label>Code postal :</label>
  <input id="codePostal" type="text">

  <label>Ville :</label>
  <input id="ville" type="text">

  <label>Email :</label>
  <input id="email" type="email">

  <label>Login :</label>
  <input id="login" type="text">

  <label>Mot de passe :</label>
  <input id="pwd" type="password">

  <label>Pays :</label>
  <input id="pays" type="text">

  <!-- Civilité en boutons radio -->
  <label>Civilité :</label>
  <label>
    <input type="radio" id="civilite" value="monsieur"> Monsieur
  </label>
  <label>
    <input type="radio" id="civilite" value="madame"> Madame
  </label>
  <label>
    <input type="radio" id="civilite" value="autre"> Autre
  </label>

  <button type="submit">Valider</button>
</form>

  