
<body>
<div class="form-container">
    <!-- <form #clientForm = "ngForm" (ngSubmit)="onSubmit()"> -->
    <form action="" method="get" class="compte">
      <label for="civilite"><input type="radio" id="civilite1" name="civilite" value="madame" />Madame</label>
      <label for="civilite"><input type="radio" id="civilite2" name="civilite" value="monsieur" />Monsieur</label>
      <label for="civilite"><input type="radio" id="civilite3" name="civilite" value="Autre" />Autre</label>
   

      <label for="prenom" >Prénom :</label>
      <input name="prenom" id="prenom" type="text" [(ngModel)]="prenom">

      <label for="nom" >Nom :</label>
      <input name="nom" id="nom" type="text" [(ngModel)]="nom">
  
      <label for="telephone">Numéro de téléphone :</label>
      <input name="telephone" id="telephone" type="tel" [(ngModel)]="telephone">
  
      <label for="addresse">Adresse :</label>
      <input name="addresse" id="adresse" type="text" [(ngModel)]="adresse">
      
      <label for="codePostal">Code postal :</label>
      <input name="codePostal" id="codePostal" type="text" [(ngModel)]="codePostal">
  
      <label for="ville">Ville :</label>
      <input name="ville" id="ville" type="text" [(ngModel)]="ville">

      <label for="pays">Pays :</label>
      <input name="pays" id="pays" type="text" [(ngModel)]="pays">
  
      <label for="email">Email :</label>
      <input name="email" id="email" type="email" [(ngModel)]="email">
  
      <label for="login">Login :</label>
      <input name="login" id="login" type="text" [(ngModel)]="login">
  
      <label for="pwd">Mot de passe :</label>
      <input name="pwd" id="pwd" type="password" [(ngModel)]="pwd">
      <input type="submit" (click)="check()" value="Connexion" />
      
    </form>

    <app-recap *ngIf="IsDiplay" [civilite]="civilite" [prenom]="prenom" [nom]="nom" [adresse]="adresse" [pays]="pays" [codePostal]="codePostal" [ville]="ville" [telephone]="telephone" [email]="email" [login]="login" [pwd]="pwd" > </app-recap>
  </div>
</body>
